@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

/* font-family: 'Sawarabi Gothic', sans-serif; */
* {
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #304057;
}

.fc-kusam {
    color: #6D6D6D;
}

/* Background Header */
.bg_gradien {
    background-image: linear-gradient(#c3deff33, #d8d8d800, rgba(0, 128, 0, 0.048))
}

/* Button Hero Header */
.btn-adopt {
    color: #fff;
    background-color: #304057;
    border-radius: 2px;
}

.btn-adopt:hover {
    border: #304057 2px solid;
}

.btn-donate {
    border: #304057 2px solid;
    border-radius: 2px;
}

.btn-donate:hover {
    background-color: #304057;
    color: #fff;
}

@media screen and (max-width: 992px) {

    .navbar-collapse {
        flex-direction: column;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .col-sm-10 {
        display: flex;
        align-items: center;
    }

}

@media screen and (max-width: 576px) {
    .reverse-col {
        display: flex;
        flex-direction: column-reverse;
    }

    .delete-margin-sm {
        margin-top: 1em !important;
    }

    .reset-margin {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}